public/
279915.png   
css/        
js/             
robots.txt     
tags/
404.html     
images/     
merge_sort.png  
sitemap.xml    
term.webp
blup.png     
index.html  
notes/          
sobre/         
vim.png
categories/  
index.xml   
posts/          
supernova.jpg
